In [25]:
import pandas as pd

In [26]:
# Import the crime data
crime_data="Resources/Toronto_Crimes_Occurred_2014_2019.csv"
crime_df = pd.read_csv(crime_data)
crime_df.head()

,Unnamed: 0,event_unique_id,premisetype,ucr_code,ucr_ext,offence,reportedyear,reportedmonth,reportedday,reporteddayofyear,...,occurrenceday,occurrencedayofyear,occurrencedayofweek,occurrencehour,MCI,Division,Hood_ID,Neighbourhood,Long,Lat
0,0,GO-20141756319,Commercial,1430.0,100.0,Assault,2014.0,March,24.0,83.0,...,24.0,83.0,Monday,1.0,Assault,D42,132,Malvern (132),-79.199081,43.800281
1,1,GO-20143006885,Other,2120.0,200.0,B&E,2014.0,September,29.0,272.0,...,27.0,270.0,Saturday,16.0,Break and Enter,D52,76,Bay Street Corridor (76),-79.386383,43.662472
2,2,GO-20141756802,Commercial,2120.0,200.0,B&E,2014.0,March,24.0,83.0,...,24.0,83.0,Monday,6.0,Break and Enter,D23,1,West Humber-Clairville (1),-79.612595,43.720406
3,3,GO-20141760570,Apartment,2120.0,200.0,B&E,2014.0,March,24.0,83.0,...,24.0,83.0,Monday,15.0,Break and Enter,D33,47,Don Valley Village (47),-79.349121,43.782772
4,4,GO-20142004859,Commercial,1610.0,210.0,Robbery - Business,2014.0,May,3.0,123.0,...,3.0,123.0,Saturday,2.0,Robbery,D11,90,Junction Area (90),-79.458778,43.664490

In [27]:
# Select the columns for the projects
df1=crime_df[["offence","occurrenceyear","MCI","Division","Hood_ID","Neighbourhood","Long","Lat"]]
df1.head()

,offence,occurrenceyear,MCI,Division,Hood_ID,Neighbourhood,Long,Lat
0,Assault,2014.0,Assault,D42,132,Malvern (132),-79.199081,43.800281
1,B&E,2014.0,Break and Enter,D52,76,Bay Street Corridor (76),-79.386383,43.662472
2,B&E,2014.0,Break and Enter,D23,1,West Humber-Clairville (1),-79.612595,43.720406
3,B&E,2014.0,Break and Enter,D33,47,Don Valley Village (47),-79.349121,43.782772
4,Robbery - Business,2014.0,Robbery,D11,90,Junction Area (90),-79.458778,43.664490

In [28]:
# Filter the crimes occured in 2016
df1 = df1.loc[df1["occurrenceyear"]==2016]
df1.reset_index(inplace=True,drop=True)
df1

,offence,occurrenceyear,MCI,Division,Hood_ID,Neighbourhood,Long,Lat
0,Robbery - Mugging,2016.0,Robbery,D52,78,Kensington-Chinatown (78),-79.393509,43.656014
1,Assault,2016.0,Assault,D11,88,High Park North (88),-79.452713,43.657288
2,Robbery - Purse Snatch,2016.0,Robbery,D32,32,Englemount-Lawrence (32),-79.438240,43.730282
3,B&E,2016.0,Break and Enter,D41,119,Wexford/Maryvale (119),-79.310562,43.759903
4,B&E,2016.0,Break and Enter,D22,16,Stonegate-Queensway (16),-79.508766,43.640858
...,...,...,...,...,...,...,...,...
36679,Shooting,2016.0,homicide,D54,66,Danforth (66),-79.324768,43.683121
36680,Shooting,2016.0,homicide,D41,119,Wexford/Maryvale (119),-79.312927,43.758415
36681,Shooting,2016.0,homicide,D41,119,Wexford/Maryvale (119),-79.312927,43.758415
36682,Shooting,2016.0,homicide,D23,1,West Humber-Clairville (1),-79.589424,43.732025
36683,Other,2016.0,homicide,D53,55,Thorncliffe Park (55),-79.341385,43.708019

In [29]:
# Import the neighbourhood profile
neighbourhood="Resources/neighbourhood-profiles-2016-csv.csv"
neighbourhood_df=pd.read_csv(neighbourhood)
neighbourhood_df.head()

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,1,Neighbourhood Information,Neighbourhood Information,City of Toronto,Neighbourhood Number,NaN,129,128,20,95,...,37,7,137,64,60,94,100,97,27,31
1,2,Neighbourhood Information,Neighbourhood Information,City of Toronto,TSNS2020 Designation,NaN,No Designation,No Designation,No Designation,No Designation,...,No Designation,No Designation,NIA,No Designation,No Designation,No Designation,No Designation,No Designation,NIA,Emerging Neighbourhood
2,3,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2016","2,731,571","29,113","23,757","12,054","30,526",...,"16,936","22,156","53,485","12,541","7,865","14,349","11,817","12,528","27,593","14,804"
3,4,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2011","2,615,060","30,279","21,988","11,904","29,177",...,"15,004","21,343","53,350","11,703","7,826","13,986","10,578","11,652","27,713","14,687"
4,5,Population,Population and dwellings,Census Profile 98-316-X2016001,Population Change 2011-2016,4.50%,-3.90%,8.00%,1.30%,4.60%,...,12.90%,3.80%,0.30%,7.20%,0.50%,2.60%,11.70%,7.50%,-0.40%,0.80%

In [30]:
# Filter three demographics - age, income, unemployment.
demographic_df = neighbourhood_df.loc[(neighbourhood_df["_id"] == 1) | (neighbourhood_df["_id"] == 8) | (neighbourhood_df["_id"] == 10) | (neighbourhood_df["_id"] == 11) | (neighbourhood_df["_id"] == 12) | (neighbourhood_df["_id"] == 13) | (neighbourhood_df["_id"] == 14) | (neighbourhood_df["_id"] == 15) | (neighbourhood_df["_id"] == 1030) | (neighbourhood_df["_id"] == 1891)]
demographic_df

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,1,Neighbourhood Information,Neighbourhood Information,City of Toronto,Neighbourhood Number,NaN,129,128,20,95,...,37,7,137,64,60,94,100,97,27,31
7,8,Population,Population and dwellings,Census Profile 98-316-X2016001,Population density per square kilometre,"4,334","3,929","3,034","2,435","10,863",...,"5,820","4,007","4,345","7,838","6,722","8,541","7,162","10,708","2,086","2,451"
9,10,Population,Age characteristics,Census Profile 98-316-X2016001,Children (0-14 years),"398,135","3,840","3,075","1,760","2,360",...,"1,785","3,555","9,625","2,325","1,165","1,860","1,800","1,210","4,045","1,960"
10,11,Population,Age characteristics,Census Profile 98-316-X2016001,Youth (15-24 years),"340,270","3,705","3,360","1,235","3,750",...,"2,230","2,625","7,660","1,035",675,"1,320","1,225",920,"4,750","1,870"
11,12,Population,Age characteristics,Census Profile 98-316-X2016001,Working Age (25-54 years),"1,229,555","11,305","9,965","5,220","15,040",...,"7,480","8,140","21,945","6,165","3,790","6,420","5,860","5,960","12,290","5,860"
12,13,Population,Age characteristics,Census Profile 98-316-X2016001,Pre-retirement (55-64 years),"336,670","4,230","3,265","1,825","3,480",...,"2,070","2,905","6,245","1,625","1,150","1,595","1,325","1,540","2,965","1,810"
13,14,Population,Age characteristics,Census Profile 98-316-X2016001,Seniors (65+ years),"426,945","6,045","4,105","2,015","5,910",...,"3,370","4,905","8,010","1,380","1,095","3,150","1,600","2,905","3,530","3,295"
14,15,Population,Age characteristics,Census Profile 98-316-X2016001,Older Seniors (85+ years),"66,000",925,555,320,"1,040",...,655,885,"1,130",170,125,880,165,470,400,775
1029,1030,Income,Income of households in 2015,Census Profile 98-316-X2016001,Average after-tax income of households in 20...,"81,495","427,037","278,390","168,602","792,507",...,"272,986","412,302","629,030","240,272","147,462","239,484","222,648","541,217","302,358","213,860"
1890,1891,Labour,Labour force status,Census Profile 98-316-X2016001,Unemployment rate,8.2,9.8,9.8,6.1,6.7,...,9.8,8.5,10.6,7.7,6.6,5.2,6.9,5.9,10.7,8

In [31]:
# Remove columns not required
demographic_df.drop(["_id","Category","Topic","Data Source"],inplace=True,axis=1)
demographic_df

C:\Users\Feng\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,Bay Street Corridor,Bayview Village,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,Neighbourhood Number,NaN,129,128,20,95,42,34,76,52,...,37,7,137,64,60,94,100,97,27,31
7,Population density per square kilometre,"4,334","3,929","3,034","2,435","10,863","2,775","3,377","14,097","4,195",...,"5,820","4,007","4,345","7,838","6,722","8,541","7,162","10,708","2,086","2,451"
9,Children (0-14 years),"398,135","3,840","3,075","1,760","2,360","3,605","2,325","1,695","2,415",...,"1,785","3,555","9,625","2,325","1,165","1,860","1,800","1,210","4,045","1,960"
10,Youth (15-24 years),"340,270","3,705","3,360","1,235","3,750","2,730","1,940","6,860","2,505",...,"2,230","2,625","7,660","1,035",675,"1,320","1,225",920,"4,750","1,870"
11,Working Age (25-54 years),"1,229,555","11,305","9,965","5,220","15,040","10,810","6,655","13,065","10,310",...,"7,480","8,140","21,945","6,165","3,790","6,420","5,860","5,960","12,290","5,860"
12,Pre-retirement (55-64 years),"336,670","4,230","3,265","1,825","3,480","3,555","2,030","1,760","2,540",...,"2,070","2,905","6,245","1,625","1,150","1,595","1,325","1,540","2,965","1,810"
13,Seniors (65+ years),"426,945","6,045","4,105","2,015","5,910","6,975","2,940","2,420","3,615",...,"3,370","4,905","8,010","1,380","1,095","3,150","1,600","2,905","3,530","3,295"
14,Older Seniors (85+ years),"66,000",925,555,320,"1,040","1,640",710,330,610,...,655,885,"1,130",170,125,880,165,470,400,775
1029,Average after-tax income of households in 20...,"81,495","427,037","278,390","168,602","792,507","493,486","251,583","352,218","354,894",...,"272,986","412,302","629,030","240,272","147,462","239,484","222,648","541,217","302,358","213,860"
1890,Unemployment rate,8.2,9.8,9.8,6.1,6.7,7.2,7.2,10.2,7.7,...,9.8,8.5,10.6,7.7,6.6,5.2,6.9,5.9,10.7,8

In [32]:
# Set up the new index
demographic_df.set_index("Characteristic",inplace=True)
demographic_df

,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,Bay Street Corridor,Bayview Village,Bayview Woods-Steeles,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
Characteristic,,,,,,,,,,,,,,,,,,,,,
Neighbourhood Number,NaN,129,128,20,95,42,34,76,52,49,...,37,7,137,64,60,94,100,97,27,31
Population density per square kilometre,"4,334","3,929","3,034","2,435","10,863","2,775","3,377","14,097","4,195","3,240",...,"5,820","4,007","4,345","7,838","6,722","8,541","7,162","10,708","2,086","2,451"
Children (0-14 years),"398,135","3,840","3,075","1,760","2,360","3,605","2,325","1,695","2,415","1,515",...,"1,785","3,555","9,625","2,325","1,165","1,860","1,800","1,210","4,045","1,960"
Youth (15-24 years),"340,270","3,705","3,360","1,235","3,750","2,730","1,940","6,860","2,505","1,635",...,"2,230","2,625","7,660","1,035",675,"1,320","1,225",920,"4,750","1,870"
Working Age (25-54 years),"1,229,555","11,305","9,965","5,220","15,040","10,810","6,655","13,065","10,310","4,490",...,"7,480","8,140","21,945","6,165","3,790","6,420","5,860","5,960","12,290","5,860"
Pre-retirement (55-64 years),"336,670","4,230","3,265","1,825","3,480","3,555","2,030","1,760","2,540","1,825",...,"2,070","2,905","6,245","1,625","1,150","1,595","1,325","1,540","2,965","1,810"
Seniors (65+ years),"426,945","6,045","4,105","2,015","5,910","6,975","2,940","2,420","3,615","3,685",...,"3,370","4,905","8,010","1,380","1,095","3,150","1,600","2,905","3,530","3,295"
Older Seniors (85+ years),"66,000",925,555,320,"1,040","1,640",710,330,610,740,...,655,885,"1,130",170,125,880,165,470,400,775
Average after-tax income of households in 2015 ($),"81,495","427,037","278,390","168,602","792,507","493,486","251,583","352,218","354,894","253,036",...,"272,986","412,302","629,030","240,272","147,462","239,484","222,648","541,217","302,358","213,860"
Unemployment rate,8.2,9.8,9.8,6.1,6.7,7.2,7.2,10.2,7.7,8,...,9.8,8.5,10.6,7.7,6.6,5.2,6.9,5.9,10.7,8

In [33]:
# DataFrame transpose
neighbourhood_transposed = demographic_df.T
neighbourhood_transposed

Characteristic,Neighbourhood Number,Population density per square kilometre,Children (0-14 years),Youth (15-24 years),Working Age (25-54 years),Pre-retirement (55-64 years),Seniors (65+ years),Older Seniors (85+ years),Average after-tax income of households in 2015 ($),Unemployment rate
City of Toronto,NaN,"4,334","398,135","340,270","1,229,555","336,670","426,945","66,000","81,495",8.2
Agincourt North,129,"3,929","3,840","3,705","11,305","4,230","6,045",925,"427,037",9.8
Agincourt South-Malvern West,128,"3,034","3,075","3,360","9,965","3,265","4,105",555,"278,390",9.8
Alderwood,20,"2,435","1,760","1,235","5,220","1,825","2,015",320,"168,602",6.1
Annex,95,"10,863","2,360","3,750","15,040","3,480","5,910","1,040","792,507",6.7
...,...,...,...,...,...,...,...,...,...,...
Wychwood,94,"8,541","1,860","1,320","6,420","1,595","3,150",880,"239,484",5.2
Yonge-Eglinton,100,"7,162","1,800","1,225","5,860","1,325","1,600",165,"222,648",6.9
Yonge-St.Clair,97,"10,708","1,210",920,"5,960","1,540","2,905",470,"541,217",5.9
York University Heights,27,"2,086","4,045","4,750","12,290","2,965","3,530",400,"302,358",10.7
Yorkdale-Glen Park,31,"2,451","1,960","1,870","5,860","1,810","3,295",775,"213,860",8

In [34]:
# Convert all columns from object to integers
demographic_info=neighbourhood_transposed.replace({',':''},regex=True).apply(pd.to_numeric,1)
demographic_info

Characteristic,Neighbourhood Number,Population density per square kilometre,Children (0-14 years),Youth (15-24 years),Working Age (25-54 years),Pre-retirement (55-64 years),Seniors (65+ years),Older Seniors (85+ years),Average after-tax income of households in 2015 ($),Unemployment rate
City of Toronto,NaN,4334.0,398135.0,340270.0,1229555.0,336670.0,426945.0,66000.0,81495.0,8.2
Agincourt North,129.0,3929.0,3840.0,3705.0,11305.0,4230.0,6045.0,925.0,427037.0,9.8
Agincourt South-Malvern West,128.0,3034.0,3075.0,3360.0,9965.0,3265.0,4105.0,555.0,278390.0,9.8
Alderwood,20.0,2435.0,1760.0,1235.0,5220.0,1825.0,2015.0,320.0,168602.0,6.1
Annex,95.0,10863.0,2360.0,3750.0,15040.0,3480.0,5910.0,1040.0,792507.0,6.7
...,...,...,...,...,...,...,...,...,...,...
Wychwood,94.0,8541.0,1860.0,1320.0,6420.0,1595.0,3150.0,880.0,239484.0,5.2
Yonge-Eglinton,100.0,7162.0,1800.0,1225.0,5860.0,1325.0,1600.0,165.0,222648.0,6.9
Yonge-St.Clair,97.0,10708.0,1210.0,920.0,5960.0,1540.0,2905.0,470.0,541217.0,5.9
York University Heights,27.0,2086.0,4045.0,4750.0,12290.0,2965.0,3530.0,400.0,302358.0,10.7
Yorkdale-Glen Park,31.0,2451.0,1960.0,1870.0,5860.0,1810.0,3295.0,775.0,213860.0,8.0

In [35]:
# Add coloumns of average age and population
demographic_info["Population"] = demographic_info["Children (0-14 years)"]+demographic_info["Youth (15-24 years)"]+demographic_info["Working Age (25-54 years)"]+demographic_info["Pre-retirement (55-64 years)"]+demographic_info["Seniors (65+ years)"]+demographic_info["Older Seniors (85+ years)"]
demographic_info["Average age"] = (7*demographic_info["Children (0-14 years)"]
                                   +19.5*demographic_info["Youth (15-24 years)"]
                                   +39.5*demographic_info["Working Age (25-54 years)"]
                                   +59.5*demographic_info["Pre-retirement (55-64 years)"]
                                   +75*demographic_info["Seniors (65+ years)"]
                                   +85*demographic_info["Older Seniors (85+ years)"])/demographic_info["Population"]
demographic_info

Characteristic,Neighbourhood Number,Population density per square kilometre,Children (0-14 years),Youth (15-24 years),Working Age (25-54 years),Pre-retirement (55-64 years),Seniors (65+ years),Older Seniors (85+ years),Average after-tax income of households in 2015 ($),Unemployment rate,Population,Average age
City of Toronto,NaN,4334.0,398135.0,340270.0,1229555.0,336670.0,426945.0,66000.0,81495.0,8.2,2797575.0,41.340222
Agincourt North,129.0,3929.0,3840.0,3705.0,11305.0,4230.0,6045.0,925.0,427037.0,9.8,30050.0,44.238270
Agincourt South-Malvern West,128.0,3034.0,3075.0,3360.0,9965.0,3265.0,4105.0,555.0,278390.0,9.8,24325.0,42.342446
Alderwood,20.0,2435.0,1760.0,1235.0,5220.0,1825.0,2015.0,320.0,168602.0,6.1,12375.0,42.788283
Annex,95.0,10863.0,2360.0,3750.0,15040.0,3480.0,5910.0,1040.0,792507.0,6.7,31580.0,45.042274
...,...,...,...,...,...,...,...,...,...,...,...,...
Wychwood,94.0,8541.0,1860.0,1320.0,6420.0,1595.0,3150.0,880.0,239484.0,5.2,15225.0,45.865517
Yonge-Eglinton,100.0,7162.0,1800.0,1225.0,5860.0,1325.0,1600.0,165.0,222648.0,6.9,11975.0,40.151983
Yonge-St.Clair,97.0,10708.0,1210.0,920.0,5960.0,1540.0,2905.0,470.0,541217.0,5.9,13005.0,47.003845
York University Heights,27.0,2086.0,4045.0,4750.0,12290.0,2965.0,3530.0,400.0,302358.0,10.7,27980.0,38.654843
Yorkdale-Glen Park,31.0,2451.0,1960.0,1870.0,5860.0,1810.0,3295.0,775.0,213860.0,8.0,15570.0,45.109184

In [36]:
# Reset index
demographic_info.reset_index(inplace=True)
demographic_info.rename(columns={"index":"Neighbourhood Name","Neighbourhood Number":"Hood_ID"},inplace=True)
demographic_info

Characteristic,Neighbourhood Name,Hood_ID,Population density per square kilometre,Children (0-14 years),Youth (15-24 years),Working Age (25-54 years),Pre-retirement (55-64 years),Seniors (65+ years),Older Seniors (85+ years),Average after-tax income of households in 2015 ($),Unemployment rate,Population,Average age
0,City of Toronto,NaN,4334.0,398135.0,340270.0,1229555.0,336670.0,426945.0,66000.0,81495.0,8.2,2797575.0,41.340222
1,Agincourt North,129.0,3929.0,3840.0,3705.0,11305.0,4230.0,6045.0,925.0,427037.0,9.8,30050.0,44.238270
2,Agincourt South-Malvern West,128.0,3034.0,3075.0,3360.0,9965.0,3265.0,4105.0,555.0,278390.0,9.8,24325.0,42.342446
3,Alderwood,20.0,2435.0,1760.0,1235.0,5220.0,1825.0,2015.0,320.0,168602.0,6.1,12375.0,42.788283
4,Annex,95.0,10863.0,2360.0,3750.0,15040.0,3480.0,5910.0,1040.0,792507.0,6.7,31580.0,45.042274
...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,Wychwood,94.0,8541.0,1860.0,1320.0,6420.0,1595.0,3150.0,880.0,239484.0,5.2,15225.0,45.865517
137,Yonge-Eglinton,100.0,7162.0,1800.0,1225.0,5860.0,1325.0,1600.0,165.0,222648.0,6.9,11975.0,40.151983
138,Yonge-St.Clair,97.0,10708.0,1210.0,920.0,5960.0,1540.0,2905.0,470.0,541217.0,5.9,13005.0,47.003845
139,York University Heights,27.0,2086.0,4045.0,4750.0,12290.0,2965.0,3530.0,400.0,302358.0,10.7,27980.0,38.654843
140,Yorkdale-Glen Park,31.0,2451.0,1960.0,1870.0,5860.0,1810.0,3295.0,775.0,213860.0,8.0,15570.0,45.109184

In [37]:
# Merge the demographic data with the crime data
merged_df = pd.merge(df1,demographic_info,on="Hood_ID",how="inner")
merged_df.drop(["Neighbourhood"],inplace=True,axis=1)
merged_df

,offence,occurrenceyear,MCI,Division,Hood_ID,Long,Lat,Neighbourhood Name,Population density per square kilometre,Children (0-14 years),Youth (15-24 years),Working Age (25-54 years),Pre-retirement (55-64 years),Seniors (65+ years),Older Seniors (85+ years),Average after-tax income of households in 2015 ($),Unemployment rate,Population,Average age
0,Robbery - Mugging,2016.0,Robbery,D52,78,-79.393509,43.656014,Kensington-Chinatown,11806.0,1315.0,3350.0,8760.0,1795.0,2705.0,480.0,222404.0,8.2,18405.0,41.892285
1,B&E W'Intent,2016.0,Break and Enter,D52,78,-79.390663,43.652412,Kensington-Chinatown,11806.0,1315.0,3350.0,8760.0,1795.0,2705.0,480.0,222404.0,8.2,18405.0,41.892285
2,Assault With Weapon,2016.0,Assault,D52,78,-79.400047,43.657951,Kensington-Chinatown,11806.0,1315.0,3350.0,8760.0,1795.0,2705.0,480.0,222404.0,8.2,18405.0,41.892285
3,Robbery - Swarming,2016.0,Robbery,D52,78,-79.391457,43.654335,Kensington-Chinatown,11806.0,1315.0,3350.0,8760.0,1795.0,2705.0,480.0,222404.0,8.2,18405.0,41.892285
4,Assault Peace Officer,2016.0,Assault,D52,78,-79.390381,43.654507,Kensington-Chinatown,11806.0,1315.0,3350.0,8760.0,1795.0,2705.0,480.0,222404.0,8.2,18405.0,41.892285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36679,B&E,2016.0,bicycle theft,54,60,-79.317635,43.696388,Woodbine-Lumsden,6722.0,1165.0,675.0,3790.0,1150.0,1095.0,125.0,147462.0,6.6,8000.0,41.524687
36680,THEFT UNDER,2016.0,bicycle theft,54,60,-79.304970,43.694778,Woodbine-Lumsden,6722.0,1165.0,675.0,3790.0,1150.0,1095.0,125.0,147462.0,6.6,8000.0,41.524687
36681,THEFT UNDER - BICYCLE,2016.0,bicycle theft,54,60,-79.310341,43.696220,Woodbine-Lumsden,6722.0,1165.0,675.0,3790.0,1150.0,1095.0,125.0,147462.0,6.6,8000.0,41.524687
36682,THEFT UNDER,2016.0,bicycle theft,54,60,-79.312477,43.695240,Woodbine-Lumsden,6722.0,1165.0,675.0,3790.0,1150.0,1095.0,125.0,147462.0,6.6,8000.0,41.524687
36683,THEFT UNDER - BICYCLE,2016.0,bicycle theft,54,60,-79.304710,43.691391,Woodbine-Lumsden,6722.0,1165.0,675.0,3790.0,1150.0,1095.0,125.0,147462.0,6.6,8000.0,41.524687

In [38]:
grouped_df=merged_df.groupby(["Neighbourhood Name","MCI"]).count()
crime_df=grouped_df[["offence"]]
crime_df.rename(columns={"offence":"number_of_crime"},inplace=True)
crime_df

C:\Users\Feng\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                                    number_of_crime
Neighbourhood Name MCI
Agincourt North    Assault                       77
                   Auto Theft                    16
                   Break and Enter               49
                   Robbery                       13
                   Theft Over                     5
...                                             ...
Yorkdale-Glen Park Break and Enter               65
                   Robbery                       24
                   Theft Over                    24
                   bicycle theft                 11
                   homicide                       1

[874 rows x 1 columns]

In [24]:
# Export cleaned data to csv
df1.to_csv("Data-Output/crime_data_2016.csv",index=False)
demographic_info.to_csv("Data-Output/neighbourhood_profile_data.csv",index=False)
merged_df.to_csv("Data-Output/neighbourhood_crime_2016.csv",index=False)
crime_df.to_csv("Data-Output/number_of_crime_2016.csv",index=True)

In [39]:
new_data="Data-Output/number_of_crime_2016.csv"
new_df = pd.read_csv(new_data)
new_df

     Neighbourhood Name              MCI  number_of_crime
0       Agincourt North          Assault               77
1       Agincourt North       Auto Theft               16
2       Agincourt North  Break and Enter               49
3       Agincourt North          Robbery               13
4       Agincourt North       Theft Over                5
..                  ...              ...              ...
869  Yorkdale-Glen Park  Break and Enter               65
870  Yorkdale-Glen Park          Robbery               24
871  Yorkdale-Glen Park       Theft Over               24
872  Yorkdale-Glen Park    bicycle theft               11
873  Yorkdale-Glen Park         homicide                1

[874 rows x 3 columns]

In [40]:
number_of_crime=pd.merge(new_df,demographic_info,on="Neighbourhood Name",how="inner")
new_crime_df=number_of_crime[["Neighbourhood Name","MCI","number_of_crime","Hood_ID","Population density per square kilometre","Unemployment rate","Population","Average age","  Average after-tax income of households in 2015 ($)"]]
new_crime_df.rename(columns={"Population density per square kilometre":"population_density","  Average after-tax income of households in 2015 ($)":"household_income"},inplace=True)
new_crime_df

C:\Users\Feng\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Neighbourhood Name,MCI,number_of_crime,Hood_ID,population_density,Unemployment rate,Population,Average age,household_income
0,Agincourt North,Assault,77,129.0,3929.0,9.8,30050.0,44.238270,427037.0
1,Agincourt North,Auto Theft,16,129.0,3929.0,9.8,30050.0,44.238270,427037.0
2,Agincourt North,Break and Enter,49,129.0,3929.0,9.8,30050.0,44.238270,427037.0
3,Agincourt North,Robbery,13,129.0,3929.0,9.8,30050.0,44.238270,427037.0
4,Agincourt North,Theft Over,5,129.0,3929.0,9.8,30050.0,44.238270,427037.0
...,...,...,...,...,...,...,...,...,...
869,Yorkdale-Glen Park,Break and Enter,65,31.0,2451.0,8.0,15570.0,45.109184,213860.0
870,Yorkdale-Glen Park,Robbery,24,31.0,2451.0,8.0,15570.0,45.109184,213860.0
871,Yorkdale-Glen Park,Theft Over,24,31.0,2451.0,8.0,15570.0,45.109184,213860.0
872,Yorkdale-Glen Park,bicycle theft,11,31.0,2451.0,8.0,15570.0,45.109184,213860.0
873,Yorkdale-Glen Park,homicide,1,31.0,2451.0,8.0,15570.0,45.109184,213860.0

In [41]:
new_crime_df.to_csv("Data-Output/number_of_crime_in_each_neighbourhood.csv",index=True)